/* Outcomes */
.outcomes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 12%;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 4;
    gap: 100px;
  }
}

@media screen and (max-width: 1800px) {
  .outcomes {
    &__list {
      gap: 50px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .outcomes {
    &__list {
      gap: 40px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .outcomes {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

@media screen and (max-width: 660px) {
  .outcomes {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
